{% load static %}
<!DOCTYPE html>
<html class="client-js" dir="ltr" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  {% block stylesheet %}
  <link href="{% static '/main/css/style.css' %}" rel="stylesheet">
  <link href="https://allfont.ru/allfont.css?fonts=b52" rel="stylesheet" type="text/css">
  {% endblock stylesheet %}
</head>
<body
  class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-4 ns-subject page-Открытый_список_Заглавная_страница rootpage-Открытый_список_Заглавная_страница skin-openlist action-view">
<div class=" article-ru-2555680" id="wrapper">
  <header id="mw-head">
    <div class="container">
      <div class="header-padding">
        <nav id="sitenav">
          <ul class="links" role="menubar">
            <li>
              <a href="">О проекте</a>
            </li>
            <li>
              <a href="">Добавить человека</a>
            </li>
          </ul>
        </nav>
        <nav id="siteacc">
          <ul class="links">
            <li id="pt-createaccount">
              <a href="registration.html">Зарегистрироваться</a>
            </li>
            <li id="pt-login">
              <a href="">Войти</a>
            </li>
          </ul>
        </nav><!-- /0 -->
        <div class="clear"></div>
      </div>
    </div>
  </header>
  <div id="p-search">
    <div class="container">
      <div class="header-padding">
        <div class="search-left">
          <div id="search-top" role="search">
            <form action="/index.php" id="searchform" name="searchform">
              <div class="search-group">
                <input accesskey="f" autocomplete="off" id="searchInput" name="search"
                       placeholder="Введите имя" title="" value=""> <input class="searchButton"
                                                                           id="mw-searchButton"
                                                                           name="fulltext" title=""
                                                                           type="submit" value="Найти">
              </div>
              <div class="search-selector">
                <a href="">Расширенный поиск</a> <span id="search-help-button"
                                                       style="cursor:pointer; border-bottom:1px dashed white; margin-left:1.5em;">Примеры</span>
              </div>
            </form>
          </div><!-- /0 -->
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- content -->
  <div class="mw-body" id="content">
    <div class="container">
      {% block content %}
      {% endblock %}
      <aside id="sidebar">
        <div class="sidebar-box">
          <div class="portal"
               id="p-.D0.9F.D0.BE.D0.BC.D0.BE.D1.87.D1.8C_.D0.BF.D1.80.D0.BE.D0.B5.D0.BA.D1.82.D1.83">
            <h2>Помочь проекту</h2>
            <ul>
              <li>
                <a href="">Как добавить данные</a>
              </li>
              <li>
                <a href="">Как пожертвовать</a>
              </li>
              <li>
                <a href="">Правка формуляров</a>
              </li>
              <li>
                <a href="">Поиск дублей</a>
              </li>
              <li>
                <a href="">Объединение дублей</a>
              </li>
              <li>
                <a href="">Присоединение фотографий</a>
              </li>
            </ul>
          </div>
          <div class="portal" id="p-navigation">
            <h2>Навигация</h2>
            <ul>
              <li>
                <a href="">Категории данных</a>
              </li>
              <li>
                <a href="">Случайная статья</a>
              </li>
              <li>
                <a href="">Новые страницы</a>
              </li>
              <li>
                <a href="">Свежие правки</a>
              </li>
            </ul>
          </div>
          <div class="portal" id="p-.D0.9C.D1.8B_.D0.B2_.D1.81.D0.BE.D1.86.D1.81.D0.B5.D1.82.D1.8F.D1.85">
            <h2>Мы в соцсетях</h2>
            <ul>
              <li>
                <a href=""><i aria-hidden="true" class="fa fa-facebook-official"></i>Facebook</a>
              </li>
              <li>
                <a href=""><i aria-hidden="true" class="fa fa-vk"></i>ВКонтакте</a>
              </li>
              <li>
                <a href=""><i aria-hidden="true" class="fa fa-instagram"></i>Instagram</a>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="sidebar-box-after"></div>
      </aside>
      <div class="clear"></div>
    </div>
  </div>
  <!-- /content -->
  <!-- footer -->
  <footer>
    <div class="container">
      <div class="col">
        <a href=""><img alt="Мемориал" src="" style="float:left; margin:0 10px 20px 0;"></a> В основе материалов<br>
        сайта — данные <a href="">Международного<br>
        Мемориала</a>.
      </div>
      <div class="col">
        <ul>
          <li>
            <a href=""><i aria-hidden="true" class="fa fa-facebook-official"></i>Facebook</a>
          </li>
          <li>
            <a href=""><i aria-hidden="true" class="fa fa-vk"></i>ВКонтакте</a>
          </li>
          <li>
            <a href=""><i aria-hidden="true" class="fa fa-instagram"></i>Instagram</a>
          </li>
          <li>
            <a href=""><i aria-hidden="true" class="fa fa-envelope"></i>info@openlist.wiki</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <a href="">Отказ от ответственности</a>
          </li>
          <li>
            <a href="">Условия использования</a>
          </li>
          <li>
            <a href="">Источники данных</a>
          </li>
          <li>
            <a href="">Спецстраницы</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>
            <a href="">Открытый список</a>
          </li>
        </ul>
      </div>
      <div style="clear:both"></div>
    </div>
  </footer><!-- /footer -->
</div>


</body>
</html>
