{% load tags %}

{% for family in families %}
{% if family.partner is not None %}
<div class="partner">
  <a href="">{{ family.partner.surname }} {{ family.partner.name }}</a>
</div>
{% endif %}
<div class="tab-content">
  {% if family.children|length > 0 %}
  <ul class="my-ul">
    {% for child in family.children %}
    <li class="my-li">
      <div class="tab">
        <a href="">{{ child.name }}</a>
        {% if not child.is_alone %}
        <div class="tab-label">
          <i class="bi bi-chevron-right"></i>
        </div>
          {% show_family_composition child None %}
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
</div>
